# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/
*.egg

# Virtual env
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project artifacts (do not push to GitHub)
model/
models/*.parquet
checkpoint_dir/
features_cache.parquet/
level0_oof_predictions.parquet/
archive_extracted/
archive.zip
*.parquet
kaggle_data/

# Spark
/tmp/
spark-warehouse/
derby.log
metastore_db/

# Keep src/models/ (source code), ignore only trained model outputs
!src/models/
